.liha
{
font-weight: bolder;
color: #e6face;
}
body
{
background-image: url("kuvat/muuri.jpg");
background-size:cover;
}
header
{
background-color: black;
padding: 20px;

}

nav
{  width: 850px;
  margin: auto;
}

a
{
  margin-right: 20px; color: #e6face;
}

aside
{
  color: #e6face;
  padding: 10px 10px;
}

aside
{
  float: right;
  height: 300px;
  background-color: black;
  width: 200px;
}

article
{
  color: black;
}
