.liha
{font-weight: bolder;
color: black;
}
body
{background-color: #ebe1c2;

}
header
{  background-image:url(https://kuviasuomesta.fi/wp-content/uploads/2019/11/jaatyneet-lehdet.jpg);
  background-size: 400px 400px 400px 400px;
  background-position: center;
  padding: 10px;
}
nav
{  width: 850px;
  margin: auto;
}
a
{margin-right: 50px; color: #e6face;
}
aside, h2
{color: black;
  padding: 20px;
}
aside
{float: right;
  height: 300px;
  background-color: #fcb674;
  width: 200px;}
  .menu
  {float: left;
  width: 20%}
  .menuitem
  {padding: 8px;
  margin-top: 7px;}
