.liha
{
font-weight: bolder;
color: #e6face;
}
body
{
background-image: url("kuvat/muuri.jpg");
background-size:cover;
}
header
{
background-color: black;
padding: 20px;

}

nav
{  width: 500px;
  margin: auto;
}

a
{
  margin:10px 10px 10px 10px; color: #e6face;
}

aside
{
  color: #e6face;
  padding: 10px 10px 10px 20px;
}

aside
{
  float: right;
  height: 300px;
  background-color: black;
  width: 200px;
}

article
{
  width: 800px;
  height: 200px;
  background-color: black;
  margin: auto;
  padding: 20px 20px 300px 20px;
  opacity: 0.6;
  font-size: 140%;
}


footer
{
  background-color: black;
  height: 100px;
  margin-bottom: auto;
}
.liha1
{
  color:  #e6face;
padding: 20px 20px 20px 20px;
}
