.vasen
{
  float: left;
}
.oikea
{
float: right;
margin-left: 20px;
margin-bottom: 10px;
}
body
{
margin: auto;
width: 800px;
background-image: url("naamio1.jpg");
}
img
{margin: 5px 20px -5px 0px;
height: 100px;
}
section
{
width: 750px;
margin: auto;
margin-bottom: 10px;
}
.eka
{
  clear:both;
  background: papayawhip;
  padding: 20px;
}
.toka
{
  clear:both;
  background: lightyellow;
  padding: 20px;
}
article
{
  background: #ADFF2F;
}
article h1
{
  padding: 20px 0px 0px 20px;
}
