table
{
  width: 500px;
  border-collapse: collapse;
}
table thead th, thead,td
{
  background-color: #cbc9c9;
  font-weight: bold;
}
table tbody td,
{
  border: 1px solid #999;
  text-align: right;
}
th
{
  text-align: left;
}

table tfoot td
{
  background-color: #cbc9c9;
  font-weight: bold;
}

table tbody tr:nth-child (even)
{
  background-color: #eeeeee;
}
 table tbody tr:nth-child (odd)
{
  background-color: #ffffff;
}
